article {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.resume {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  width: 65vw;
  margin: auto;
  color: #1d3344;
}

.profile {
  grid-area: profile;
  background-color: #ebebeb;
}

.photo {
  grid-area: photo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}

.contact {
  grid-area: contact;
  color: whitesmoke;
  background-color: #1d3344;
}

.skills {
  grid-area: skills;
}

.experience {
  grid-area: experience;
}

.education {
  grid-area: education;
}

.side-panel {
  grid-area: side-panel;
  background-color: #ebebeb;
}

.footer {
  grid-area: footer;
  margin: auto;
}

.resume {
  grid-template-areas:
    'photo profile contact'
    'skills skills side-panel'
    'experience experience side-panel'
    'education education side-panel'
    'footer footer footer';
}

.photo img {
  border-radius: 10%;
  border: 2px solid #f3b943;
}
